.edit-farmer-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 10px;
}

.edit-farmer-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.edit-farmer-form button {
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}